@use '../base/variables' as v;
@use '../base/mixins' as m;

.card{
    display: flex;
    flex-direction: column;
    width: min(90%, 350px);
    background-color: v.$very-dark-blue-card-bg;
    box-shadow: v.$shadow;
    border-radius: 15px;
    overflow: hidden;
    padding: 25px;

    &__image{
        border-radius: 20px;
        position: relative;
        overflow: hidden;

        &--overlay{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: v.$opaque-cyan;
            opacity: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: opacity 0.3s;
        }

        &:hover{
            cursor: pointer;
            .card__image--overlay{
                opacity: 1;
                transition: opacity 0.3s;
            }
        }

    }

    &__body{
        padding: 20px 0 5px;
    }

    &__title{
        color: v.$white;
        font-size: 22px;
        font-weight: v.$regular;
        transition: color 0.3s;

        &:hover{
            cursor: pointer;
            color: v.$cyan;
            transition: color 0.3s;
        }
    }

    &__description{
        color: v.$soft-blue;
        font-size: 18px;
        font-weight: v.$thin;
        line-height: 1.6;
        padding: 15px 0;
    }

    &__information{
        border-bottom: 1px solid v.$very-dark-blue-line;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 20px;
    }

    &__footer{
        display: flex;
        align-items: center;
        padding-top: 20px;
        gap: 15px;

        &--image{
            border: 1px solid v.$white;
            border-radius: 50%;
            width: 32px;
            height: 32px;
            object-fit: cover;
        }

        &--text{
            color: v.$soft-blue;
            font-weight: v.$regular;

            span{
                color: v.$white;
                transition: color 0.3s;

                &:hover{
                    cursor: pointer;
                    color: v.$cyan;
                    transition: color 0.3s;
                }
            }
        }
    }
}