@use '../base/variables' as v;
@use '../base/mixins' as m;

.card{
    display: flex;
    flex-direction: column;
    width: min(90%, 350px);
    background-color: v.$very-dark-blue-card-bg;
    box-shadow: v.$shadow;
    border-radius: 15px;
    overflow: hidden;
    padding: 25px;

    &__image{
        border-radius: 20px;
        position: relative;
        overflow: hidden;
    }

    &__body{
        padding: 20px 0;
    }

    &__title{
        color: v.$white;
        font-size: 22px;
        font-weight: v.$regular;
    }

    &__description{
        color: v.$soft-blue;
        font-size: 18px;
        font-weight: v.$thin;
        line-height: 1.6;
        padding: 10px 0;
    }
}